# Script settings
BACKUP_SCRIPT_PATH = ""
BACKUP_SCRIPT_ARGS = [] #Ex [arg1, arg2, arg3]
#This is the file that gets updated when a backup script is executed
# Default: <BackupScriptWorkingDirectory>/update
# Change manually if different
BACKUP_FLAG_PATH = BACKUP_SCRIPT_PATH[0:BACKUP_SCRIPT_PATH.rfind("/")] + "/update"
NGINX_DB_UPDATE_PATH = ""